@using Brewery.Web.States
@using Elia.Core.Extensions
@using Brewery.Web.Helpers.States
@using Brewery.Web.Helpers.ViewModels
@inject IStringLocalizer<Resource> localizer
@inject CultureState CultureState
@inject AuthSateProvider AuthSateProvider


<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
      G-brewery
    </NavLink>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (CurrentUserViewModel != null)
        {
          <li class="nav-item">
            <NavLink class="nav-link active" aria-current="page" Match="NavLinkMatch.All" href="@AppRoutingEnum.Home">
              @localizer["HeaderHome"]
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="@AppRoutingEnum.Brewery">
              @localizer["HeaderBrewery"]
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="@AppRoutingEnum.Wholesaler">
              @localizer["HeaderWholesaler"]
            </NavLink>
          </li>
        }
      </ul>
      
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        @if (CurrentUserViewModel == null)
        {
          <li class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="@AppRoutingEnum.Login">
              @localizer["HeaderLogin"]
            </NavLink>
          </li>
          
          <li class="nav-item">
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="@AppRoutingEnum.Register">
              @localizer["HeaderNewUser"]
            </NavLink>
          </li>
        }
          
         @if (CurrentUserViewModel != null)
          {
            <li class="nav-item">
              <NavLink class="nav-link" Match="NavLinkMatch.All" href="@AppRoutingEnum.User">
                @CurrentUserViewModel.User.Firstname
              </NavLink>
            </li>
            
            <li class="nav-item">
              <NavLink class="nav-link" href="#" @onclick="AuthSateProvider.Logout">
                @localizer["HeaderLogout"]
              </NavLink>
            </li>
          }
        
        <CultureSelector />
       
      </ul>
    </div>
  </div>
</nav>


@code
{
  [CascadingParameter(Name =  CascadingConst.CurrentUser)]
  public ApplicationUserViewModel CurrentUserViewModel { get; set; }
}
