@using Brewery.Web.States
@using Brewery.Web.ViewModels
@using Elia.Core.Extensions
@using Brewery.Web.Helpers.States
@inject IStringLocalizer<Resource> localizer
@inject CultureState CultureState
@implements IDisposable


<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href="">
      G-brewery @CultureState.Increment
    </NavLink>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (CurrentUser != null)
        {
          <li class="nav-item">
            <NavLink class="nav-link active" aria-current="page" href="@AppRoutingEnum.Home">
              @localizer["HeaderHome"]
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" href="@AppRoutingEnum.Brewery">
              @localizer["HeaderBrewery"]
            </NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link" href="@AppRoutingEnum.Wholesaler">
              @localizer["HeaderWholesaler"]
            </NavLink>
          </li>
        }
      </ul>
      
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        @if (CurrentUser == null)
        {
          <li class="nav-item">
            <NavLink class="nav-link" href="@AppRoutingEnum.Login">
              @localizer["HeaderLogin"]
            </NavLink>
          </li>
          
          <li class="nav-item">
            <NavLink class="nav-link" href="@AppRoutingEnum.Register">
              @localizer["HeaderNewUser"]
            </NavLink>
          </li>
        }
          
         @if (CurrentUser != null)
          {
            <li class="nav-item">
              <NavLink class="nav-link" href="@AppRoutingEnum.User">
                @CurrentUser.User.Firstname
              </NavLink>
            </li>
            
            <li class="nav-item">
              <NavLink class="nav-link" href="#" @onclick="OnLogout">
                @localizer["HeaderLogout"]
              </NavLink>
            </li>
          }
        
        <CultureSelector />
       
      </ul>
    </div>
  </div>
</nav>


@code
{
  [CascadingParameter(Name =  CascadingConst.CurrentUser)]
  public ApplicationUser CurrentUser { get; set; }

  public void OnLogout(EventArgs eventArgs)
  {
  }

  #region Listener state change

  protected override void OnInitialized()
  {
    CultureState.Mont(async () => await InvokeAsync(StateHasChanged));
  }

  public void Dispose()
  {
    CultureState.Dispose(async () => await InvokeAsync(StateHasChanged)); 
  }

  #endregion
  
}
